*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EFEFEF;
}

.gallery__item:nth-child(1){
    z-index: 0;
}

.slick-next{
    filter: invert(1);
}

.slick-prev{
    filter: invert(1);
}

.navbar-light .navbar-toggler{
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.navbar-toggler-icon{
    filter: invert(1);
}

.email{
    width: 90px; 
    height: 90px; 
    border-radius: 60px; 
    background-color: #466265; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.email img{
    width: 80%;
}

.phone{
    width: 90px; 
    height: 90px; 
    border-radius: 60px; 
    background-color: #466265; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.phone img{
    width: 60%;
}

.icon-criar{
    width: 50px;
    height: 50px;
    display: flex;
}

.icon-criar img{
    width: 100%;
}

@font-face{
    font-family: 'nav-bar';
    src: url('../fonts/Rubik-Medium.ttf');
}

.navbar{
    background-color: #466265;
    height: 108px;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:active{
    color: #707070;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #707070;
}

.navbar-nav a{
    font-family: 'nav-bar';
}

.img-logo{
    width: 80px;
}

.my-nav{
    margin-left: auto;
    margin-right: auto;
}

.nav-button{
    width: 187px;
    height: 57px;
    outline: 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #466265;
    transition: 0.7s;
}

.nav-button:hover{
    font-size: 22px;
    transition: 0.7s;
}

.div-main{
    width: 100%;
    height: 500px;
    background-image: url('../images/background-image.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text h1{
    font-size: 50px;
    font-family: 'nav-bar';
    color: #FFFFFF;
}

.main-text p{
    font-size: 30px;
    font-family: 'nav-bar';
    color: #B4DFE3;
}

.main-text a{
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}

.main-text-div{
    width: 250px;
    height: 47px;
    border: solid 2px #FFFFFF;
    text-align: center;
}

.my-section-button{
    width: 300px; 
    height: 90px; 
    border-radius: 5px; 
    font-size: 23px; 
    color: #466265;
    outline: 0;
    border: none;
    transition: 0.5s;
}

.my-section-button:hover{
    font-size: 25px;
    transition: 0.5s;
}

.info-mais{
    background-color: #FFFFFF; 
    min-height: 600px; 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-mais-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.animation-card{
    width: 300px;
    height: 450px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #707070;
    transition: 0.5s;
}

.animation-card:hover{
    width: 320px;
    height: 470px;
    transition: 0.5s;
    border: solid 1px #707070;
} 

.animation-card-lotus{
    width: 300px;
    height: 450px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #707070;
    transition: 0.5s;
}

.contato-title{
    width: 300px;
    height: 100px;
    padding-top: 80px;
}

.contato-title h1{
    font-size: 3.5em;
    color: #466265;
}

.line{
    width: 90px;
    height: 9px;
    background-color: #B4DFE3;
}

.contato-email{
    width: 400px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 5px;
}

.contato-fone{
    width: 400px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 5px;
}

.form{
    width: 400px;
    padding-top: 10px;
    text-align: center;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3{
    font-size: 20px;
    color: #466265;
}

.form input{
    width: 100%;
    height: 66px;
    background-color: #EFEFEF;
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.form textarea{
    width: 100%;
    height: 178px;
    border: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 178px;
    min-height: 178px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #EFEFEF;
}

.form button{
    width: 100%;
    height: 65px;
    border-radius: 5px;
    outline: 0;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #466265;
}

.contato-text{
    width: 100%;
    height: 472px;
    border-radius: 3px;
    text-align: center;
    background-color: #466265;
}

.contato-text h1{
    font-size: 3.2em;
    padding-top: 100px;
    color: #FFFFFF;
}

.contato-text p{
    font-size: 1.8em;
    padding-top: 15px;
    color: #FFFFFF;
}

.footer{
    height: 138px;
    padding-left: 80px;
    padding-right: 50px;
}

.icons-redes-sociais{
    width: 300px; 
    height: 90px; 
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
}

.icons-redes-sociais img{
    width: 80%;
    padding: 15px;
    border-radius: 60px;
    background-color: #466265;
}

.carousel-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.carrosel-image{
    height: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 1px #dfe6e9;
}

.carrosel-image img{
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.carrosel-image h5{
    color: #466265;
}

.carrosel-image button{
    width: 180px;
    height: 50px;
    border-radius: 5px;
    outline: 0;
    border: none;
    color: #FFFFFF;
    background-color: #466265;
}

.didio-class{
    margin-top: 8px;
}

.class-borrachauto{
    margin-top: 137px;
}

.class-donHenrique{
    margin-top: 3px;
}

.class-tutor{
    margin-top: 25px;
}

.class-lotus{
    margin-top: 105px;
}

.class-voa{
    margin-top: 127px;
}

.class-arena{
    margin-top: 98px;
}

.class-genios{
    margin-top: 130px;
}

.class-tech{
    margin-top: 148px;
}

/* INICIO DE MARCAS */

/* ================================= */

#marcas {
    margin-top: 5em;
    background: #FFFFFF;
    padding-top: 50px;
}

#marcas h1 {
    color: #527697;
    font-weight: bold;
    position: relative;
    border-bottom: 8px solid #DEBE7A;
}

#marcas .marcas-logos {
    background-color: #FFFFFF;
    /* background: rgb(93, 158, 197);
    background: linear-gradient(90deg, rgba(93, 158, 197, 1) 0%, rgba(74, 94, 122, 1) 100%); */
}

.lista-servicos button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    outline: 0;
    border: none;
    color: #FFFFFF;
    z-index: 1000;
    background-color: #466265;
}


#marcas .marcas-logos .card{
    background: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 12em;
    border-radius: 25px;
    margin-top: 2em;
    overflow: hidden;
    transition: .1s linear;
    -webkit-box-shadow: 5px 2px 19px -13px #000000; 
    box-shadow: 5px 2px 19px -13px #000000;
}

#marcas .marcas-logos img {
    width: 80%;
    /* filter: grayscale(100%); */
    transition: .1s linear;
}

#marcas .marcas-logos .card-image {
    text-align: center;
    filter: grayscale(100%);
}

#marcas .marcas-logos .case {
    transition: .5s linear;
}

#marcas .marcas-logos .card-text {
    position: absolute;
    top: 0;
    transform: rotateX(180deg);
    transition: .1s linear;
    color: #466265;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

#marcas .card-text .services {
    padding: 0 1.2em 0 1.2em;
    text-align: center !important;
}

#marcas .card-text .service {
    width: 2em;
    margin: .8em 0 .8em 0;
    filter: invert(100%);
}

#marcas .marcas-logos .gallery__item:hover>.card {
    transition: .5s linear;
}

#marcas .marcas-logos .link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.644);
    height: 100%;
    width: 100%;
    transition: .5s linear;
    z-index: 1;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transform: translateY(100%);
    transition: .3s all ease;
}

#marcas .marcas-logos .gallery__item:hover>.card .card-text {
    transition: .9s linear;
    opacity: 1;
}

#marcas .lista-servicos {
    position: absolute;
    width: 200%;
    left: -50%;
    text-align: center;
    margin-top: 1em;
    color: #466265;
    opacity: 0;
    transition: .5s all ease;
}

#marcas .lista-servicos h4 {
    font-weight: bold;
    font-size: 16px;
}

#marcas .lista-servicos p {
    font-size: 12px;
}

.carrosel-image{
    height: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    border: solid 1px #dfe6e9;
}

.didio-pizza{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.didio-pizza h5{
    color: #466265;
}

.didio-pizza p{
    color: #466265;
}

@media (max-width:1000px) {
    #marcas .lista-servicos {
        width: 100%;
        left: 0;
    }
}

/* ================================= */

/* FIM DE MARCAS */

@media only screen and (max-width: 1400px){

    .contato-text{
        width: 80%;
        margin-left: 100px;
    }
    
    .contato-text h1{
        font-size: 3.0em;
    }
    
    .contato-text p{
        font-size: 1.5em;
    }

    .contato-email{
        width: 350px;
        height: 130px;
    }

    .contato-email address{
        font-size: 12px;
    }
    
    .contato-fone{
        width: 350px;
        height: 130px;
    }
}

@media only screen and (max-width: 1315px){

    .info-mais{
        width: 100%;
    }

    .animation-card{
        width: 250px;
    }

    .animation-card-lotus{
        width: 250px;
    }

    .animation-card:hover{
        width: 250px;
    }
}

@media only screen and (max-width: 1280px){

    .carousel-container{
        width: 1000px;
    }

    .didio-class{
        margin-top: 8px;
    }
    
    .class-borrachauto{
        margin-top: 109px;
    }
    
    .class-donHenrique{
        margin-top: 4px;
    }
    
    .class-tutor{
        margin-top: 25px;
    }
    
    .class-lotus{
        margin-top: 85px;
    }
    
    .class-voa{
        margin-top: 100px;
    }
    
    .class-arena{
        margin-top: 80px;
    }
    
    .class-genios{
        margin-top: 106px;
    }
    
    .class-tech{
        margin-top: 123px;
    }
    
}

@media only screen and (max-width: 1198px){

    .contato-text{
        width: 80%;
        margin-left: 100px;
    }
    
    .contato-text h1{
        font-size: 2.0em;
    }
    
    .contato-text p{
        font-size: 1.0em;
    }
}

@media only screen and (max-width: 1150px){

    .my-nav{
        margin-left: 0px;
    }

    .my-navbar-brand{
        display: none;
    }

    .navbar{
        background-color: #466265;
        height: auto;
    }
}

@media only screen and (max-width: 1070px){

    .carousel-container{
        width: 800px;
    }

    .didio-class{
        margin-top: 8px;
    }
    
    .class-borrachauto{
        margin-top: 130px;
    }
    
    .class-donHenrique{
        margin-top: 10px;
    }
    
    .class-tutor{
        margin-top: 30px;
    }
    
    .class-lotus{
        margin-top: 100px;
    }
    
    .class-voa{
        margin-top: 122px;
    }
    
    .class-arena{
        margin-top: 98px;
    }
    
    .class-genios{
        margin-top: 125px;
    }
    
    .class-tech{
        margin-top: 143px;
    }
}

@media only screen and (max-width: 1128px){

    .contato-fone{
        width: 315px;
    }

    .contato-email{
        width: 315px;
    }
    
}

@media only screen and (max-width: 1113px){

    .animation-card{
        width: 220px;
    }

    .animation-card-lotus{
        width: 220px;
    }

    .animation-card:hover{
        width: 220px;
    }
}

@media only screen and (max-width: 992px){

    .my-nav{
        /* margin-left: 0px; */
        flex-grow: 1;
        flex-basis: 100%;
        align-items: center;
    }

    .contato-text h1{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contato-text p{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 993px){

    .animation-card{
        width: 320px;
        margin-bottom: 20px;
    }

    .animation-card-lotus{
        width: 320px;
        margin-bottom: 20px;
    }

    .animation-card:hover{
        width: 320px;
    }

    .info-mais-row{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .form{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .contato-text{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .contato-title{
        margin-left: 30px;
    }
}

@media only screen and (max-width: 990px){

    .contato-title{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .contato-email{
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    .contato-fone{
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}

@media only screen and (max-width: 885px){

    .main-text h1{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 870px){

    .carousel-container{
        width: 700px;
    }
}

@media only screen and (max-width: 885px){

    .main-text h1{
        font-size: 2.0em;
    }

    .main-text p{
        font-size: 1.0em;
    }

    .main-text-div{
        width: 200px;
        height: 40px;
    }

    .main-text a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 730px){

    .carousel-container{
        width: 600px;
    }
}

@media only screen and (max-width: 767px){

    .card{
        margin-bottom: 15px;
    }

    .form{
        margin-bottom: 50px;
    }

    .form-container{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 630px){

    .carousel-container{
        width: 100%;
    }
}

@media only screen and (max-width: 580px){

    .main-text h1{
        font-size: 1.2em;
    }

    .contato-title{
        width: 180px;
    }
    
    .contato-title h1{
        font-size: 2.5em;
    }

}

@media only screen and (max-width: 424px){

    .contato-email{
        width: 100%;
    }
    
    .contato-fone{
        width: 100%;
    }

    .email{
        width: 80px; 
        height: 80px; 
        text-align: center;
    }
    
    .phone{
        width: 80px; 
        height: 80px; 
        text-align: center;
    }

    .email img{
        width: 80%; 
    }
    
    .phone img{
        width: 70%; 
    }

    .contato-text{
        padding-left: 10px;
        padding-right: 10px;
    }

    .icons-redes-sociais{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    
    .icons-redes-sociais img{
        width: 60%;
        padding: 15px;
        border-radius: 60px;
        background-color: #466265;
    }

    .copyright h6{
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}



