*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EFEFEF;
}

@font-face{
    font-family: 'nav-bar';
    src: url('../fonts/Rubik-Medium.ttf');
}

.navbar{
    background-color: #466265;
    height: 108px;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link:active{
    color: #707070;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #707070;
}

.navbar-nav a{
    font-family: 'nav-bar';
}

.img-logo{
    width: 80px;
}

.my-nav{
    margin-left: auto;
    margin-right: auto;
}

.nav-button{
    width: 187px;
    height: 57px;
    outline: 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #466265;
    transition: 0.7s;
}

.nav-button:hover{
    font-size: 22px;
    transition: 0.7s;
}

.div-main{
    width: 100%;
    height: 500px;
    background-image: url('../images/background-image.PNG');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text{
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text h1{
    font-size: 50px;
    font-family: 'nav-bar';
    color: #FFFFFF;
}

.main-text p{
    font-size: 30px;
    font-family: 'nav-bar';
    color: #B4DFE3;
}

.main-text a{
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}

.main-text-div{
    width: 250px;
    height: 47px;
    border: solid 2px #FFFFFF;
    text-align: center;
}

.my-section-button{
    width: 300px; 
    height: 90px; 
    border-radius: 5px; 
    font-size: 23px; 
    color: #466265;
    outline: 0;
    border: none;
    transition: 0.5s;
}

.my-section-button:hover{
    font-size: 25px;
    transition: 0.5s;
}

.info-mais{
    background-color: #FFFFFF; 
    min-height: 600px; 
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-mais-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.animation-card{
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #707070;
    transition: 0.5s;
}

.animation-card:hover{
    width: 320px;
    height: 470px;
    transition: 0.5s;
    border: solid 1px #707070;
} 

.contato-title{
    width: 300px;
    height: 100px;
    padding-top: 80px;
}

.contato-title h1{
    font-size: 3.5em;
    color: #466265;
}

.line{
    width: 90px;
    height: 9px;
    background-color: #B4DFE3;
}

.contato-email{
    width: 400px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 5px;
}

.contato-fone{
    width: 400px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 70px;
    border-radius: 5px;
}


.footer{
    height: 138px;
    padding-left: 80px;
    padding-right: 50px;
}

.icons-redes-sociais{
    width: 300px; 
    height: 90px; 
    display: flex;
    justify-content: space-around;
}

.icons-redes-sociais img{
    width: 70%;
    padding: 10px;
    border-radius: 40px;
    background-color: #466265;
}

@media only screen and (max-width: 1150px){

    .my-nav{
        margin-left: 0px;
    }

    .my-navbar-brand{
        display: none;
    }

    .navbar{
        background-color: #466265;
        height: auto;
    }
}
